/* Copyright Dave Dawson - 2012 */
/* RESET */
/* YUI Reset version: 2.7.0 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

/*because legend doesn't inherit in IE */
legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

html, body, * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: 'marais';
  src: url("/fonts/marais_ultra_italic_webfont.eot");
  src: url("/fonts/marais_ultra_italic_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/marais_ultra_italic_webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'marais';
  src: url("/fonts/marais_ultra_webfont.eot");
  src: url("/fonts/marais_ultra_webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/marais_ultra_webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

.wrap {
  margin: 0 auto; }

h1 {
  font: normal 7rem "marais", Georgia, Times, serif;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: .3em; }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 4em; } }
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    h1 {
      font-size: 3.4em; } }

h2 {
  font: bold 2rem "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.6);
  margin: 1.2em 0 0.3em 0; }

h3 {
  font: 1.65rem "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.5);
  margin: 1.2em 0 0.3em 0; }

h4 {
  font: 1.3rem "ff-tisa-web-pro", Georgia, Times, serif;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.5);
  margin: 1em 0 0.5em 0; }

p {
  font: 1.4rem "ff-tisa-web-pro", Georgia, Times, serif;
  color: #4c4c4c;
  line-height: 1.4em;
  margin: 0 0 0.7em 0; }
  @media only screen and (max-width: 480px) {
    p {
      font-size: 1em; } }
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    p {
      font-size: 0.8em; } }

a {
  color: #426c6f;
  text-decoration: none; }

a:hover {
  color: #33595d; }

ul, ol {
  margin: 0.6em 0;
  padding: 0;
  font: 1.4rem "ff-tisa-web-pro", Georgia, Times, serif;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.4em; }

ul li, ol li {
  list-style-type: disc;
  margin: 0.3em 0 0.3em 1.2em; }
  @media only screen and (max-width: 480px) {
    ul li, ol li {
      font-size: 1em; } }
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    ul li, ol li {
      font-size: 0.8em; } }

blockquote {
  font: normal 1.3em/1.3em "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
  color: #666;
  margin: 1em; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .tweet h3 {
    font-size: 0.9em; }

  .tweet {
    background: #363b56; }

  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.hide {
  display: none; }

/**** Isotope Filtering ****/
